html, body, .clean-fit {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.banner{
  background: #144238;
  color:#fff;
  height:6%;
  text-align:center;
  font-weight: bold;
  padding:5px 10px;
  font-size:150%;
  overflow:hidden;
}

.banner button{
  float:right;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-weight: bold;
  border: solid white;
  background: rgba(0,0,0,0);
}

#title{
  cursor:default;
}


.main-body{
  height:94%;
  width:100%;
  margin:0;
  overflow:auto;
}

#map{
  padding:0;
  margin:0;
  height:100%;
}
#options{
  height:100%;
  padding:5px;
  margin:0;
  overflow-y:auto;
}
.legend{
  background:rgba(255,255,255,0.8);
  padding:5px;
  outline:solid black 1px;
}

.legend:hover{
  opacity:0.3;
}



.justify{
  text-align:justify;
}
.gray{
  color:gray;
  font-style:italic;
}
.f90{
  font-size:90%;
}
.f80{
  font-size:80%;
}
